.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }

.modal-box {  
    background: white;
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    width: 996px;
    height: 700px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

.modal-box input, .modal-box textarea {
    width: 300px;
    height: 40px;
    background-color: #cbcbcb;
    box-sizing: border-box;
    border-radius: 15px;
    border: 1px solid #000000;
    font-size: 1rem;
    resize: vertical;
    color: black;
}

.modal-box .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
    margin-top: 10px;
}

.modal-box .input-box-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.modal-box .input-box {
    /* position: relative; */
    /* left: 115px; */
}

/* .modal-box textarea {
    width: 755px;
    position: relative;
    left: 115px;
} */
  