#new-case-button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 207px;
  height: 50px;
  border-radius: 15px;
  background-color: #322D2D;
  opacity: 0.6;
  color: white;
  transition: background-color 0.3s;
}

#new-case-button:hover{
  background-color: rgb(81, 81, 80);
  cursor: pointer;
}

#upload-button{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 207px;
  height: 50px;
  border-radius: 15px;
  background-color: #010101;
  color: white;
  transition: background-color 0.3s;
}

#upload-button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.chat-link-box {
  background-color: #FFFFFF;
  border: 2px solid #787667;
  border-radius: 10px;
  padding: 15px 15px 15px 15px;
  margin: 10px 0;
  transition: all 0.2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chat-link-box:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.chat-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

.chat-link-box.active-chat {
  background-color: #c1c1c1; /* highlight color */
  font-weight: bold;
}

.close-button {
  overflow: hidden;
  position: relative;
  border: none;
  padding: 0;
  width: 1.5em; height: 1.5em;
  border-radius: 15%;
  background: transparent;
  color: #060606;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;

&:focus {
  outline: solid 0 transparent;
  box-shadow: 0 0 0 2px #333334
}

&:hover {
  background: rgba(121, 121, 121, 0.1)
}

&:before, &:after {
  position: absolute;
  top: 15%; left: calc(50% - .0625em);
  width: .125em; height: 70%;
  border-radius: .125em;
  transform: rotate(45deg);
  background: currentcolor;
  content: ''
}

&:after { transform: rotate(-45deg); }
}